:root {
  --background-color: rgb(240, 240, 240);
  --primary-color: rgb(32, 32, 32);
}

body{
  background-color: var(--background-color);
}

.container {
  width: 80%;
  margin: auto;
}

.flex-class {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
  
}

.card {
  flex: 0 0 300px;
  border-radius: 2px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: 2px var(--primary-color) solid;
  text-align: center;
}

.input {
  margin: 0px 0 5px 0;
  border: 2px var(--primary-color) solid;
  width: 200px;
  height: 30px;
}

.input-button {
  margin: 10px 0;
  width: auto;
  height: auto;
  text-transform: uppercase;
  display: block;
  border-radius: 3px;
  background-color: rgb(187, 187, 187);
  color: black;
  padding: 7px;
}

header .nav-links {
  list-style: none;
  display: flex;
  column-gap: 30px;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

header a:hover {
  opacity: 0.7;
}

header {
  background-color: var(--primary-color);
  height: 30px;
  padding: 20px;
}
